In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("A+&+B+shingles.csv")
data.head(5)

      A     B
0  0.44  0.14
1  0.61  0.15
2  0.47  0.31
3  0.30  0.16
4  0.15  0.37

In [6]:
from scipy import stats
t_stat,p_value = stats.ttest_1samp(data.A,0.35)
print("The value for t_statistics is:{0} and p_value is:{1}".format(t_stat,p_value/2))

The value for t_statistics is:-1.4735046253382782 and p_value is:0.07477633144907513

In [8]:
t_statB,p_valueB = stats.ttest_1samp(data.B,0.35,nan_policy='omit')
print("The value for t_statistics is:{0} and p_value is:{1}".format(t_statB,p_valueB/2))

The value for t_statistics is:-3.1003313069986995 and p_value is:0.0020904774003191826

In [11]:
t_stat2,p_value2 = stats.ttest_ind(data['A'],data['B'],equal_var = True,nan_policy='omit')
print("The value for p_value is:{}".format(round(p_value2,3)))

The value for p_value is:0.202